borderRadius()
	-moz-border-radius arguments
	-webkit-border-radius arguments
	border-radius arguments
	
boxShadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	-o-box-shadow arguments
	-ms-box-shadow arguments
	box-shadow arguments
	
transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	-ms-transition arguments
	transition arguments
	
transform()
	-webkit-transform arguments
	   -moz-transform arguments
	    -ms-transform arguments
	     -o-transform arguments
	        transform arguments
	        
linearGradient($arg, $arg1, $arg2)
	background-image -webkit-linear-gradient($arg, $arg1, $arg2)
	background-image -o-linear-gradient($arg, $arg1, $arg2)
	background-image linear-gradient($arg, $arg1, $arg2)
	     
switchColorVariations()
	background-color arguments
