borderRadius()
	-moz-border-radius arguments
	-webkit-border-radius arguments
	border-radius arguments
	
boxShadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	-o-box-shadow arguments
	-ms-box-shadow arguments
	box-shadow arguments
	
transition()
	-moz-transition arguments
	-webkit-transition arguments
	-o-transition arguments
	-ms-transition arguments
	box-shadow arguments