$red = #f44336
$dark-red = #e51c23
//$blue = #3f51b5
$blue = #6495ed
$dark-blue = #283593
$orange = #ff9800
$dark-orange = #ff5722
$green = #009688
$dark-green = #00796b

$gray-dark  = #222 
$gray = #555 

$brand-primary = #428bca 

$black = #000
$white = #fff
$transparent = transparent

$btn-border-color = #aaa

// MEDia QUERIES

$screen-xs   = 480px  // Extra small screen / phone   
$screen-sm   = 768px  // Small screen / tablet   
$screen-md   = 992px  // Medium screen / desktop   
$screen-lg   = 1200px // Large screen / wide desktop  
$screen-xlg  = 1600px // Extra Large screen / wide desktop 
$screen-xxlg = 1900px // Extra Large screen / wide desktop 

// So media queries don't overlap when required, provide a maximum
$screen-xs-max  = ($screen-sm   - 1)
$screen-sm-max  = ($screen-md   - 1)
$screen-md-max  = ($screen-lg   - 1)
$screen-lg-max  = ($screen-xlg  - 1)
$screen-xlg-max = ($screen-xxlg - 1)