$red = #e51c23;
$dark-red = #f44336;
$blue = #3f51b5;
$dark-blue = #283593;
$orange = #ff9800;
$dark-orange = #ff5722;
$green = #009688;
$dark-green = #00796b;

$black = #000;
$white = #fff;
$transparent = transparent;