displayFlex()
	display flex !important
	
.flex-row
	displayFlex()
	flex-direction row

.flex-row-reverse
	displayFlex()
	flex-direction row-reverse

.flex-column
	displayFlex()
	flex-direction column

.flex-column-reverse
	displayFlex()
	flex-direction column-reverse
	
.flex-nowrap
.flex-nobreakline
	displayFlex()
	flex-wrap nowrap
	
.flex-wrap
.flex-breakline
	displayFlex()
	flex-wrap wrap
	
.flex-wrap-reverse
.flex-breakline-reverse
	displayFlex()
	flex-wrap wrap-reverse
	
.justify-content-start
.horizontal-align-left
	displayFlex()
	justify-content flex-start

.justify-content-end
.horizontal-align-right
	displayFlex()
	justify-content flex-end

.justify-content-center
.horizontal-align-center
	displayFlex()
	justify-content center
	
.space-between
.flex-space-between
	displayFlex()
	justify-content space-between

.space-around
.flex-space-around
	displayFlex()
	justify-content space-around
	
.space-evenly
.flex-space-evenly
	displayFlex()
	justify-content space-evenly
	
.align-self-start
.align-self-top
	displayFlex()
	align-self flex-start
	
.align-self-end
.align-self-bottom
	displayFlex()
	align-self flex-end
	
.align-self-center
	displayFlex()
	align-self center
	
.algn-self-baseline
	displayFlex()
	align-self baseline
	
.align-self-stretch
	displayFlex()
	align-self stretch
	
.align-items-start
.align-items-top
.vertical-align-top
	displayFlex()
	align-items flex-start
	
.align-items-end
.vertical-align-bottom
	displayFlex()
	align-items flex-end
	
.align-items-center
.vertical-align-center
	displayFlex()
	align-items center
	
.align-items-baseline
.vertical-align-baseline
	displayFlex()
	align-items baseline
	
.align-items-stretch
.vertical-align-stretch
	displayFlex()
	align-items stretch
	
.align-content-start
.align-content-top
	displayFlex()
	align-content flex-start
	
.align-content-end
.align-content-bottom
	displayFlex()
	align-content flex-end
	
.align-content-center
	displayFlex()
	align-content center
	
.align-content-space-between
	displayFlex()
	align-content space-between
	
.align-content-space-around
	displayFlex()
	align-content space-around
	
.align-content-baseline
	displayFlex()
	align-content baseline
	
.align-content-stretch
	displayFlex()
	align-content stretch