displayFlex()
	display flex !important


// DIRECTION OF CONTENT
 
.row
	displayFlex()
	flex-direction row

.row-reverse
	displayFlex()
	flex-direction row-reverse

.col
.column
	displayFlex()
	flex-direction column

.col-reverse
.column-reverse
	displayFlex()
	flex-direction column-reverse
	

// BREAK OF CONTENT

.nobreak
.nobr
.nowrap
	displayFlex()
	flex-wrap nowrap
	
.break
.br
.wrap
	displayFlex()
	flex-wrap wrap


.break-reverse
.br-reverse
.wrap-reverse
	displayFlex()
	flex-wrap wrap-reverse
	


// CONTENT SPACING
	
.space-between
.justify-space-between
	displayFlex()
	justify-content space-between

.space-around
.justify-space-around
	displayFlex()
	justify-content space-around
	
.space-evenly
.justify-space-evenly
	displayFlex()
	justify-content space-evenly
	


// CONTENT HORIZONTAL ALIGN 

.left-align
.justify-start
	displayFlex()
	justify-content flex-start
	
.right-align
.justify-end
	displayFlex()
	justify-content flex-end

.center-align
.justify-center
	displayFlex()
	justify-content center
	


// CONTENT VERTICAL ALIGN

.top-align
.align-items-start
	displayFlex()
	align-items flex-start
	
.bottom-align
.align-items-end
	displayFlex()
	align-items flex-end
	
.middle-align
.align-items-center
	displayFlex()
	align-items center
	

// STRETCH ITEMS AND BASELINE CONTENT 
	
.align-items-baseline
.baseline-items
.baseline
	displayFlex()
	align-items baseline
	
.align-items-stretch
.stretch-items
.stretch
	displayFlex()
	align-items stretch
	


// ALIGN of CONTENT COLUMN

.content-top
.col-top
	displayFlex()
	align-content flex-start
	
.content-bottom
.col-bottom
	displayFlex()
	align-content flex-end
	
.content-center
.col-center
	displayFlex()
	align-content center
	
.content-space-between
.col-space-between
	displayFlex()
	align-content space-between
	
.content-space-around
.col-space-around
	displayFlex()
	align-content space-around
	
.content-baseline
.col-baseline
	displayFlex()
	align-content baseline
	
.content-stretch
.col-stretch
	displayFlex()
	align-content stretch
	


/* PROPERTIES FOR CHILDREN */

order($number)
	.order-{$number}
		order $number

order(1)
order(2)
order(3)
order(4)
order(5)
order(6)
order(7)
order(8)
order(9)
order(10)


// This defines the ability for a flex item to grow if necessary.
grow($number)
	.grow-{$number}
		flex-grow $number
		
grow(1)
grow(2)
grow(3)
grow(4)
grow(5)
grow(6)
grow(7)
grow(8)
grow(9)
grow(10)


// This defines the ability for a flex item to shrink if necessary.
shrink($number)
	.shrink-{$number}
		flex-shrink $number + 1
	
shrink(1)
shrink(2)
shrink(3)
shrink(4)
shrink(5)
shrink(6)
shrink(7)
shrink(8)
shrink(9)
shrink(10)


// This allows the default alignment to be overridden for individual flex items.
.align-self-top
.self-top
	align-self flex-start
	
.align-self-bottom
.self-bottom
	align-self flex-end
	
.align-self-center
.self-center
	align-self center
	
.align-self-baseline
.self-baseline
	align-self baseline
	
.align-self-stretch
.self-stretch
	align-self stretch