.shadow
	boxShadow(5px 5px 10px #999 !important)
	
.shadow-0
	boxShadow(none !important)
	
.shadow-1
	boxShadow(1px 2px 1px rgba(black, 0.5) !important)
	
.shadow-2
	boxShadow(1px 2px 1px rgba(black, 0.7) !important)
	
.shadow-3
	boxShadow(1px 2px 5px rgba(black, 0.8) !important)