active()
	@media (min-width $screen-sm)
		border 1px solid #bbb
		border-top-color #ccc
		background-color #fff
		border-bottom none
	@media (max-width $screen-sm)
		padding-bottom 5px
		border-bottom 5px solid $green
.tabs
	position relative
	margin 0
	background-color #ddd
	padding 11px 10px 10px 0
	list-style none
	borderRadius(12px 12px 0 0)
	li
		display inline
		margin-right 5px
		borderRadius(6px 6px 0 0)
		@media (max-width $screen-sm)
			transition(all 0.5s ease-in)
		@media (min-width $screen-sm)
			padding 10px 5px 10px 5px
		&:last-child
			margin-right 0
		&.active
			active()
		&:target
			active()
		// &:not(:target):not(.active)
		// 	background-color #ddd
		// 	border none
		&:hover
			background-color #eee
		&:target a + *
			display block
		a
			padding 10px
			display inline
			& + *
				position absolute
				margin-top 10px
				display none
			&:target
				color red
	&.primary
		background-color $green
		li
			border none
			&:target
				background-color $dark-green
			&:not(:target)
				background-color $green
			&:hover
				background-color $dark-green
			a
				color $white
				
.tabs.square
	borderRadius(0)
	& li
		borderRadius(0)
				
.tabs-content .tab
	display none
	&:target
		display block
		