.text-error
	color $dark-red
	
.text-success
	color $green
	
.text-warning
	color $dark-orange
	
alertErrors(bgColor, color)
	display block
	min-height 0
	padding 15px
	font-size 11pt
	opacity 0.9
	background-color rgba(bgColor, 0.4);
	font-weight bold
	color color

.alert.success
	alertErrors($green, $dark-green)
.alert.error
	alertErrors($red, $dark-red)
.alert.warning
	alertErrors($orange, $dark-orange)
	
.alert.floating
	position fixed
	right 0
	opacity 0.8
	margin-right 5px
	width 300px
	&:not(.top)
		bottom 10px

.alert.floating.top
	top 2px
	
.alert.block
	width 100%
	
.alert > .close
	font-family verdana
	float right
	font-style normal
	font-size 9pt
	cursor pointer
	&:hover
		color $green

@media screen and (max-width 480px)
	.alert.error
	.alert.warning
	.alert.success
		display block
		width 100%
	.alert.floating
		position static