.text-error
	color $dark-red
	
.text-success
	color $green
	
.text-warning
	color $dark-orange
	
.alert
	borderRadius(4px)
	
alertErrors(bgColor, color)
	display block
	min-height 0
	padding 17px 15px 15px 15px
	font-size 12pt
	background-color rgba(bgColor, 0.3);
	color color

.alert.success
	alertErrors($green, $dark-green)
.alert.danger
	alertErrors($red, darkred)
.alert.warning
	alertErrors($orange, #7d6608)
	
.alert.floating
	position fixed
	right 0
	margin-right 5px
	width 300px
	&:not(.top)
		bottom 10px

.alert.floating.top
	top 10px
	right 10px
	
.alert.floating.left
	left 10px
	bottom 10px
	
.alert.square
	borderRadius(0)
	
.alert.block
	width 100%
	
.alert > .close
	float right
	color #777
	&:hover
		color #000
	&:before
		content 'x'
		font-family verdana
		font-size 14pt
		position relative
		bottom 5px
		cursor pointer
		
.alert:target
	display none
	
.alert .title
	display inline
	border-bottom 0

@media screen and (max-width 480px)
	.alert.danger
	.alert.warning
	.alert.success
		display block
		width 100%
	.alert.floating
		position static