.btn
	color #fbfbfb
	text-transform uppercase
	font-size 0.8em
	background-color #f5f5f5
	outline none
	box-sizing border-box
	padding 0.9em 0.8em 0.8em 0.8em
	border 1px solid #ccc
	borderRadius(3px)
	boxShadow(1px 1px 10px #ccc)
	transition(opacity 0.1s ease-in)
	&:not(.is-disabled):not([disabled])
		&:hover
			border-color $btn-border-color
	&:not(.primary):not(.warning):not(.secondary):not(.danger):not(.inverse)
		color #000
			
.btn.block
	display block
	width 100%
	&:not(:last-child)
		margin-bottom 5px
			
a.btn
	line-height 35px
			
.btn:not(.is-disabled):not([disabled])
	cursor pointer
	
// .btn:not(has-effect)
// 	&:active
// 		boxShadow(1px 0 0 #bbb)
		
.btn.primary
	background-color $green
	
.btn.warning
	background-color $orange
	
.btn.secondary
	color $white
	background #6c757d
	border-color #6c757d
	
.btn.danger
	background-color $red

.btn.inverse
	background-color #333
	&:hover
		border-color $btn-border-color
		
.btn.touch
	background-color #f2f2f2
	color #333
	width 300px
	height 170px
	display inline-block
	
.btn.dropdown
	position relative	
	&::after
		content "﹀"
		position relative
		margin-left 2px
		top 1px
		font-size 9px
		font-weight bolder
	&:active
		background-color #ddd
	[type="checkbox"]
		position absolute
		margin-left -1000px
		visibility hidden
		&:checked + *
			display block
		& + *
			background-color #f2f2f2
			boxShadow(5px 5px 10px #999)
			display none
			position absolute
			top 39px
			min-width 120px
			left 0
			border-radius 3px
			margin 0
			padding 0
			z-index 3
			& > .item
				padding 10px
				display block
				a
					color inherit
				&:hover
					background-color #ddd
			@media (max-width $screen-sm)
				width 50vw
				
	&.up
		&::after
			content "︿"
			top -4px	
				
		
.btn.small
.btn.sm
	padding 0.6em
	
.btn.large
.btn.lg
	padding 1em
		
.btn.has-effect:active
	&:not(.is-disabled)
		opacity 0.8
			
.btn.is-disabled
.btn[disabled]
	cursor default
	border-color $btn-border-color
	opacity 0.5