noeditable()
	background-color rgba(grey, 0.1)
	
.form 
	.group
		margin-bottom 15px
		&:last-child
			margin-bottom 0
	input:not([type ="checkbox"])
	textarea
		border 1px solid #ddd
		padding 10px 8px 8px 8px
		font-size 0.9em
		outline none
		borderRadius(2px)
		width 200px
		&:invalid
			border 0.1px solid $red
			boxShadow(0px 0px 1px $red)
		&.valid:valid
			border 0.1px solid $dark-green
		&.disabled
			noeditable()
		&[disabled]
			noeditable()
		&.readonly
			noeditable()
		&[readonly]
			noeditable()
		
				
	label
		margin 4px
		color #222
		
.form.block
	input:not([type="checkbox"])
	textarea
		width 100%
	*
		display block
		
.group
	&:invalid
		border 0.1px solid $red
		boxShadow(0px 0px 1px $red)
	&.valid input:valid
		border 0.1px solid $dark-green
		
.radio
.checkbox
	&.disabled
		opacity 0.6
	&.disabled input[type="radio"] + *
		noeditable()
		
.radio:not(.disabled)
.checkbox:not(.disabled)
	outline none
	user-select none
	cursor pointer
		
.radio input[type="radio"]
.checkbox input[type="checkbox"]
	visibility hidden
	position absolute
	margin-left -9999px
	&[disabled] + *
		noeditable()
	
.radio input[type="radio"] + *
.checkbox input[type="checkbox"] + *
	margin-left 3px
	position relative
	top 2.7px
	display inline-block
	width 16px
	height 16px
	border 1px solid #ccc

.radio input[type="radio"] + *
	borderRadius(100%)
.checkbox input[type="checkbox"] + *
	borderRadius(2px)
	
.radio input[type="radio"]:checked + *
	border 5px solid $dark-green

.checkbox input[type="checkbox"]:checked + *
	border-color $dark-green
	background-color $dark-green
	&:after
		content 'v'
		position absolute
		left 3px
		font-size 14px
		bottom -1px
		color $white
		font-weight bold
		font-family 'arial-black'
		transform(skewY(-40deg))

$Width = 100
$Height = 50
	
.switch
	position absolute
	margin-left -9999px
	visibility hidden
	
.switch + label
	position relative
	display block
	outline none
	user-select none
	width unit($Width, px)
	height unit($Height, px)
	background-color #ddd
	cursor pointer
	&:before
	&:after
		content ''
		position absolute
		display block
		left 1px
		top 1px
		bottom 1px
		transition(all 0.4s)
	&:before
		right 1px
		background-color #f1f1f1

.switch + label:after
	width 52px
	background-color #fff
	boxShadow(0 2px 5px rgba(black,0.3))

.switch:checked + label:before
	background-color $green

.switch:checked + label:after
	transform(translateX(unit($Height, px)))

// TYPES
.switch.round + label:after
.switch.circle + label:after
	borderRadius(100%)

.switch.round + label 
.switch.circle + label 
.switch.round + label:before
.switch.circle + label:before
	borderRadius(unit($Height, px))
	

// SIZES
.switch.sm + label
.switch.small + label
	width 70px
	height 35px
	
.switch.sm + label:after
.switch.small + label:after
	width 37px
	
.switch.sm:checked + label:after
.switch.small:checked + label:after
	transform(translateX(37px))

.switch.lg + label
.switch.large + label
	width 120px
	height 60px
	
.switch.lg + label:after
.switch.large + label:after
	width 62px
	
.switch.lg:checked + label:after
.switch.large:checked + label:after
	transform(translateX(62px))

// COLORS
.switch.red:checked + label:before
	switchColorVariations($red)
	
.switch.dark-red:checked + label:before
	switchColorVariations($dark-red) 

.switch.blue:checked + label:before	
	switchColorVariations($blue)
	
.switch.dark-blue:checked + label:before
	switchColorVariations($dark-blue)
	
.switch.orange:checked + label:before
	switchColorVariations($orange)
	
.switch.dark-orange:checked + label:before
	switchColorVariations($dark-orange)
	
.switch.black:checked + label:before
	switchColorVariations($black)