noeditable()
	background-color rgba(grey, 0.1)
	
.form 
	.group
		margin-bottom 15px
		&:last-child
			margin-bottom 0
	input:not([type ="checkbox"])
	textarea
		border 1px solid #ddd
		padding 10px 8px 8px 8px
		font-size 0.9em
		outline none
		borderRadius(2px)
		width 200px
		&:not(.mobile):invalid
			border 0.1px solid $red
			boxShadow(0px 0px 1px $red)
		&:not(.mobile).valid:valid
			border 0.1px solid $green
		&.is-disabled
			noeditable()
		&[disabled]
			noeditable()
		&.readonly
			noeditable()
		&[readonly]
			noeditable()
	input[required]:valid + [class *="text-"]
		display none
		
	label
		margin 4px
		color #222
		&.block
			display block
	select
		padding 10px
		border 1px solid #ddd
		background-color $white
		min-width 200px
		borderRadius(2px)
		&:not([size])
			height 33px
		&:not([disabled]):not(.is-disabled)
			cursor pointer
		&.is-disabled
			noeditable()
		&[disabled]
			noeditable()
		&.readonly
			noeditable()
		&[readonly]
			noeditable()
		
.form.block
	input:not([type="checkbox"])
	textarea
	select
		width 100%
	*
		display block
		
.group.block
	input:not([type="checkbox"])
	textarea
	select
		width 100%
	*
		display block
	
mobileTextFields()
	outline none
	border none
	border-bottom 1px solid #ddd
	overflow hidden
	resize-x none
	padding-bottom 10px
	boxShadow(none)
	&:focus:not([required])
		border-bottom 1.95px solid $green
		
.form
	input:not([type ="checkbox"])
	textarea
		&.mobile
			mobileTextFields()
		
.group
	&:not(.mobile).valid input:valid
		border 0.1px solid $green
	&.mobile
		input
		textarea
			mobileTextFields()
		input[required]:invalid
			mobileTextFields()
			border-bottom 1px solid $red
		&.valid 
			input:valid
			textarea:valid
				border-bottom 1px solid $green
	
		
.radio
.checkbox
.switch
	&.is-disabled
		opacity 0.6
	&.is-disabled input[type="radio"] + *
		noeditable()
		
.radio:not(.is-disabled)
.checkbox:not(.is-disabled)
.switch:not(.is-disabled)
	outline none
	user-select none
	cursor pointer
		
.radio input[type="radio"]
.checkbox input[type="checkbox"]
.switch input[type="checkbox"]
.switch input[type="radio"]
	visibility hidden
	position absolute
	margin-left -9999px
	&[disabled] + *
		noeditable()
	
.radio input[type="radio"] + *
.checkbox input[type="checkbox"] + *
	margin-left 3px
	position relative
	top 2.7px
	display inline-block
	width 16px
	height 16px
	border 1px solid #ccc
	boxShadow(1px 1px 1px #ddd)

.radio input[type="radio"] + *
	borderRadius(100%)
.checkbox input[type="checkbox"] + *
	borderRadius(2px)
	
.radio input[type="radio"]:checked + *
	border 5px solid $green

.checkbox input[type="checkbox"]:checked + *
	border-color $green
	background-color $green
	&:after
		content '✓'
		position absolute
		left 1.6px
		font-size 14px
		bottom -2.5px
		color $white
		font-family 'arial-black'

$Width = 50
$Height = 25
	
.switch-group
	.switch
		display block
		margin-bottom 25px
		&:last-child
			margin-bottom 0
		
.switch input[type="checkbox"] + *
.switch input[type="radio"] + *
	position relative
	display inline-block
	outline none
	user-select none
	width unit($Width, px)
	height unit($Height, px)
	background-color #ddd
	cursor pointer
	top 7px
	margin-right 2px
	&.right
	&.pull-right
		float right
		top -5px
	&.left
	&.pull-left
		float left
		top -5px
	&:before
	&:after
		content ''
		position absolute
		display block
		left 1px
		top 1px
		bottom 1px
		transition(all 0.4s)
	&:before
		right 1px
		background-color #f1f1f1

.switch input[type="checkbox"] + *:after
.switch input[type="radio"] + *:after
	width 23px
	background-color #fff
	boxShadow(0 2px 5px rgba(black,0.3))

.switch input[type="checkbox"]:checked + *:before
.switch input[type="radio"]:checked + *:before
	background-color $green

.switch input[type="checkbox"]:checked + *:after
.switch input[type="radio"]:checked + *:after
	transform(translateX(unit($Height, px)))

// TYPES
.switch.round input[type="checkbox"] + *:after
.switch.circle input[type="checkbox"] + *:after
.switch.round input[type="radio"] + *:after
.switch.circle input[type="radio"] + *:after
	borderRadius(100%)

.switch.round input[type="checkbox"] + *
.switch.circle input[type="checkbox"] + *
.switch.round input[type="radio"] + *
.switch.circle input[type="radio"] + *
.switch.round input[type="checkbox"] + *:before
.switch.circle input[type="checkbox"] + *:before
.switch.round input[type="radio"] + *:before
.switch.circle input[type="radio"] + *:before
	borderRadius(unit($Height, px))
	

// SIZES
.switch.lg input[type="checkbox"] + *
.switch.large input[type="checkbox"] + *
.switch.lg input[type="radio"] + *
.switch.large input[type="radio"] + *
	width 70px
	height 35px
	top -10px
	
.switch.lg input[type="checkbox"] + *:after
.switch.large input[type="checkbox"] + *:after
.switch.lg input[type="radio"] + *:after
.switch.large input[type="radio"] + *:after
	width 37px
	
.switch.lg input[type="checkbox"]:checked + *:after
.switch.large input[type="checkbox"]:checked + *:after
.switch.lg input[type="radio"]:checked + *:after
.switch.large input[type="radio"]:checked + *:after
	transform(translateX(37px))