.loader
	display inline-block
	width 50px
	height @width
	border 8px solid rgba(black, 0.1)
	border-left-color $dark-green
	border-radius 100%
	animation loader 1.2s linear infinite
	background-color transparent

.loader.sm
.loader.small
	width 40px
	height @width
	
.loader.lg
.loader.large
	width 60px
	height @width
	
.loader.green
.loader.success
	border-left-color $green
	
.loader.dark-green
	border-left-color $dark-green
	
.loader.orange
	border-left-color $orange
	
.loader.dark-orange
.loader.warning
	border-left-color $dark-orange
	
.loader.red
.loader.danger
	border-left-color $red
	
.loader.dark-red
	border-left-color $dark-red
	
.loader.blue
	border-left-color $blue
	
.loader.dark-blue
	border-left-color $dark-blue

@keyframes loader
	to
		transform(rotate(360deg))