$hide-checkbox()
	position absolute
	visibility hidden
	margin-left -9999px
	
$show-menu()
	margin-left -9999px
	position absolute
	opacity 0
	
nav.menu
	padding 10px
	background-color $green
	.icon-bar
	input[type="checkbox"]
		display none
	&.responsive
		.icon-bar > span
			display block
			background-color #fff
			width 14px
			height 2px
			position relative
			transition: .5s ease-in-out;
			&:after
				top -4px
			&:before
				bottom -4px
		.icon-bar > span:after,
		.icon-bar > span:before
			background-color #fff
			content ''
			display block
			width 100%
			height 100%
			position absolute
			transition: .5s ease-in-out;
			
		.icon-bar
			color $white
			padding 15px 10px 14px 10px
			border-radius 2px
			@media screen and (max-width $screen-sm)
				display inline-block
			boxShadow(1px 1px 5px #444)
			transition(opacity 0.1s ease-in)
			cursor pointer
			&:active
				background-color $dark-green
			&.has-effect:active
				opacity 0.8
			& + input[type="checkbox"]
				$hide-checkbox()
				
				&:not(:checked) ~ ul.menu-items
					@media screen and (max-width $screen-sm)
						$show-menu()
						
		input[type="checkbox"]
			$hide-checkbox()
			&:not(:checked) ~ ul.menu-items
				@media screen and (max-width $screen-sm)
					$show-menu()
			&:checked ~ .icon-bar > span
				transform(rotate(45deg))
				&:before
					transform(rotate(90deg))
					top 0
				&:after
					opacity 0
					bottom 0	
					
			
		ul.menu-items
			@media screen and (max-width $screen-sm)
				transform(translateX(-45px))
			li
				@media screen and (max-width $screen-sm)
					line-height 1.7
					&:hover
						background-color $transparent
					&.active
						background-color $transparent
						a
							color #ccc		
				a
					padding 10px
			
						
	@media screen and (min-width $screen-sm-max)
		text-align center
		
	&:not(.responsive)
		// text-align center
		& ul.menu-items
			display inline
			li
				display inline
				margin-right 5%
				padding 8px 10px 10px 10px
ul.menu-items
	list-style none
	@media screen and (min-width 769px) 
	//> 768
		display inline
	li
		border-radius(5px)
		cursor pointer
		@media screen and (min-width 769px)
			display inline
			margin-right 5%
			padding 10px
			&:hover a
				// color $white
		@media screen and (max-width $screen-xs-max)
			line-height 1.7			
		&:last-child
			margin 0
		&:hover
			background-color $transparent
			@media screen and (min-width $screen-sm)
				background-color rgba($dark-green, 0.7)	
		&.active
			background-color $transparent
			@media screen and (min-width $screen-sm)
				background-color rgba($dark-green, 0.7)	
				
		a
			color $white
			@media screen and (min-width $screen-sm)
				padding 8px 10px 10px 10px
			@media screen and (max-width $screen-sm)
				&:hover
					color #ccc
						

// SIDENAV MOBILE ONLY
					
nav.menu.responsive.sidenav
	@media (max-width $screen-sm)
		input[type="checkbox"]:not(:checked) ~ ul.menu-items
			margin-left 0
			opacity 1
			transform(translateX(-1000px))
	ul.menu-items
		@media (max-width $screen-sm)
			position absolute
			height 100vh
			width 80vw
			background #fff
			left 0
			boxShadow(1px 2px 1px #bbb)
			transition(transform 0.5s linear)
			overflow-y auto
			z-index 2
			a
				color #000
		@media (min-width $screen-sm)
			width 50%
						