progress[value]
	width 250px
	height 20px
	-webkit-appearance none
	appearance none
	margin-top 10px
	
progress::-webkit-progress-bar
	background-color #eee
	border 1px solid #ddd
	
progress::-webkit-progress-value
	linearGradient(left, $green, $dark-green)
  