@font-face
	src url("../fonts/Roboto-Regular.ttf")
	font-family "roboto"
	
@font-face
	src url("../fonts/Arsenal-Regular.ttf")
	font-family "arsenal"
	
@font-face
	src url("../fonts/PT_Sans-Narrow-Web-Regular.ttf")
	font-family "pt-sans"
	
@font-face
	src url("../fonts/Ubuntu-Regular.tff")
	font-family "ubuntu"
	
@font-face
	src url("../fonts/bubblegum-sans-regular")
	font-family "bubblegum"
	