*
*::after
*::before 
	-webkit-box-sizing border-box
	   -moz-box-sizing border-box
	        box-sizing border-box
	        
body
	margin 0
	padding 0
	        

.center
	display block
	margin auto

.left:not(.tooltip.left)
.pull-left
	float left

.right:not(.tootip.right)
.pull-right
	float right
		
.container
	padding 10px
	
.compressed
	font-size 10pt
	padding 15px
	color #555
		
.italic
	font-style italic !important
	
.bold
	font-weight bold !important

.bolder
	font-weight bolder !important
	
.text-center
	text-align center !important
	
.text-left
	text-align left !important
	
.text-right
	text-align right !important
	
.white-text
	color $white !important
	
.black-text
	color $black !important
	
.white
	background-color $white !important
	
.black
	background-color $black !important
	
.gray
	background-color $gray !important
	
.light-gray
	background-color $gray-light !important
	
.lighter-gray
	background-color $gray-lighter !important
	
.dark-gray
	background-color $gray-dark !important

.blue
	background-color $blue !important
	
.dark-blue
	background-color $dark-blue !important
	
.green
	background-color $green !important
	
.dark-green
	background-color $dark-green !important
	
.orange
	background-color $orange !important
	
.dark-orange
	background-color $orange !important
	
.red
	background-color $red !important

.dark-red
	background-color $dark-red !important
	
.is-hide
.hide
	display none !important
	
.divider
	border-bottom 1px solid #ddd
	list-style none
	display block
	margin 10px 0 10px 0

body 
	font-family 'roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

h1
h2
h3
h4
h5
h6
	color rgba(black, 0.8)

a
	text-decoration none
	color $green
	&:not(.btn):hover
		color $dark-green